:root {
  --dark-bg: #080808;
  --light-bg: #181818;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  color: azure;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-bg);
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  width: 12%;
  height: 100%;
  max-width: 300px;
  background-color: var(--dark-bg);
}

.side-nav {
  margin: 2rem 0;
}

.side-nav-item {
  padding: 0.25rem 0 0.25rem 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: smaller;
}

.side-nav-item > div {
  margin-left: 2rem;
}

#logo {
  padding: 1rem;
  width: 70%;
}
.display {
  display: flex;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(129, 137, 245, 0.377) 0%,
    #181818 36%
  );
}

.player {
  position: absolute;
  border-top: 1px solid #414141;
  bottom: 0;
  height: 120px;
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--light-bg);
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
.display-section {
  gap: 1rem;
  padding-inline: 1rem;
}

.card {
  align-items: center;
  height: 180px;
  max-width: 11vw;
  padding: 0.5rem;
  background-color: hsla(0, 0%, 30%, 0.3);
  border-radius: 8px;
}

.card-img {
  /* clamp */
}

.card-text {
  padding: 1rem;
  color: azure;
  font-size: 12px;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

.top-nav {
  display: flex;
}
