:root {
  --dark-bg: #080808;
  --light-bg: #181818;
  --spotify-green: #1db954;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: black;
  color: azure;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-bg);
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  width: 12%;
  height: 100%;
  max-width: 300px;
  background-color: var(--dark-bg);
}

.side-nav {
  margin: 2rem 0;
}

.side-nav-item {
  padding: 0.25rem 0 0.25rem 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: smaller;
}

.side-nav-item > div {
  margin-left: 2rem;
}

#logo {
  padding: 1rem;
  width: 70%;
}
.display {
  display: flex;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(129, 137, 245, 0.377) 0%,
    #181818 36%
  );
}

.player {
  position: absolute;
  border-top: 1px solid #414141;
  bottom: 0;
  height: 120px;
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--light-bg);
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
.display-section {
  gap: 1rem;
  padding-inline: 1rem;
}

.card {
  align-items: center;
  height: 180px;
  max-width: 11vw;
  padding: 0.5rem;
  background-color: hsla(0, 0%, 30%, 0.3);
  border-radius: 8px;
  position: relative;
}

.content {
  width: 100%;
}

.card-text {
  padding: 1rem;
  color: azure;
  font-size: 12px;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

#top-nav {
  padding: 1vh 1.5vw;
  justify-content: space-between;
}

#top-nav i {
  font-size: 1.6rem;
  margin-inline: 6px;
}

.hr {
  height: 1px;
  background-color: hsla(0, 0%, 30%, 0.6);
  width: 100%;
  margin-bottom: 1rem;
}

.playlist-title {
  font-size: 13px;
  cursor: pointer;
}

select {
  background-color: hsla(0, 0%, 30%, 0.6);
  color: azure;
  border-radius: 20px;
  min-width: 90px;
  width: 5vw;
  padding: 2px 1rem;
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

option {
  padding: 5px 0px;
}

.card p {
  margin-inline: 7%;
  font-weight: bold;
  color: var(--spotify-white);
  margin-bottom: 0;
  /* white-space: nowrap; */
}
.card:hover {
  --bg-card-hover: rgba(78, 78, 78, 0.48);
  background-color: var(--dark-bg);
  cursor: pointer;
  opacity: 1;
}

.card:hover .card-play-btn {
  opacity: 1;
}

.card-play-btn {
  position: absolute;
  background-color: var(--spotify-green);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0;
  right: 7%;
  top: 100px;
  display: grid;
  place-content: center;
  box-shadow: 0px 8px 8px rgba(26, 26, 26, 0.815);
  transition: all 0.3s ease-in-out;
}

.play-btn-icon {
  margin-left: 4px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid white;
}
