.login {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 100%;
}

.login > a {
  padding: 20px;
  border-radius: 96px;
  background-color: green;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}
